@model IEnumerable<BookLibraryManagmentSystem.Models.BookModel>

@{
    ViewBag.Title = "Library Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <!-- PAGE HEADER -->
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <h4 class="mb-0">📘 All Book</h4>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active"><a href="#">All Book</a></li>
                </ol>
            </div>
        </div>

        <div class="card-header bg-primary text-white">
            <h5 class="mb-2">📘 All Book List</h5>
        </div>

       
            <!-- 🔹 Library Table -->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display table table-striped text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Cover Image</th>
                                    <th>Book Title</th>
                                    <th>Author Name</th>
                                    <th>Book Category</th>
                                    <th>ISBN #</th>
                                    <th>Quantity</th>
                                    <th>Created Date</th>
                                    <th>Available</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <!-- 🔹 Dummy Data -->
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.CoverImage))
                                        {
                                            <img src="@Url.Content(item.CoverImage)"
                                                 alt="Book Cover"
                                                 width="70"
                                                 height="60"
                                                 style="object-fit:cover;border-radius:100%;" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/no image.jpg"
                                                 alt="No Image"
                                                 width="70"
                                                 height="60"
                                                 style="object-fit:cover;border-radius:100%;" />
                                        }
                                    </td>

                                    <td>@item.Title</td>
                                    <td>@item.Author</td>
                                    <td>@item.Category</td>
                                    <td>@item.ISBN</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.CreatedAt.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <span class="badge @(item.IsAvailable ? "bg-success" : "bg-warning")">
                                            @(item.IsAvailable ? "Yes" : "No")
                                        </span>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditBook","Book", new { BookID = item.BookID })"
                                           class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a onclick="Delete('@item.BookID','/Book/Delete')" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr> 
                                 }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
       
        </div>
</div>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/global/global.min.js"></script>

<script>
    function Delete(BookID, url) {
        Swal.fire({
            title: "Delete Music?",
            text: "This action cannot be undone!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: { BookID: BookID },
                    success: function (res) {
                        if (res.Status === "Success") {
                            Swal.fire({
                                icon: "success",
                                title: "Good Job!",
                                text: res.Message,
                                showConfirmButton: true
                            }).then(() => {
                                window.location.href = res.URL;
                            });
                        }
                        else if (res.Status === "CatchError") {
                            if (res.URL && res.URL !== "") {
                                window.location.href = res.URL;
                            }
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: res.Message,
                                showConfirmButton: true
                            }).then(() => {
                                if (res.URL && res.URL !== "") {
                                    window.location.href = res.URL;
                                }
                            });
                        }

                    },
                    error: function (err) {
                        // AJAX level error
                        Swal.fire({
                            title: "Failed!",
                            text: "Something went wrong on server.",
                            icon: "error",
                            confirmButtonColor: "#5664d2"
                        });
                    }
                });
            }
            else {
                // User clicked cancel
                Swal.fire({
                    title: "Cancelled",
                    text: "Operation Cancelled :)",
                    icon: "error",
                    confirmButtonColor: "#5664d2"
                });
            }
        });
    }
</script>